.Todolist-AddTasks-input{
    border-color: crimson;
}
.Todolist-button-filter{
    border-color: crimson;
}
.Todolist-TasksList-ChekedTrue{
    opacity: 0.6;
}
.App{
    display: flex;
}
.todolist{
    padding-right: 50px;
}